<div class="container">  
  <img src="./assets/img/edbimg.jpg" alt="" class="bg-img"> 
        
    <div class="row"> 
      <form class="create-form"> 
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-hamburger"></i></button>
          </div>
          <input type="text" id="brgr" name="newburger" placeholder="Yummy burgers go here" aria-label="Input text with button" aria-describedby="add a new burger to list">
        </div> 
      </form>
    </div>

    <div class="row" id='lists'> 
      <div class="col-6"> 
        <div class="card" id="addburger"> 
          <div class="card-header text-danger">
            <img src="./assets/img/yumburger.png" id="yum" alt="hamburger clipart">
            <b> YUMMY BURGERS!</b> 
          </div>
          <div class="card-body">
            <ul>
              {{#each burgers}}
              {{#if wholeburger}}
              {{> burgers/newburger-block withbites=false}}
              {{/if}}
              {{/each}}
            </ul> 
          </div>  
        </div> 
      </div>    

      <div class="col-6"> 
        <div class="card" id="biteburger"> 
          <div class="card-header text-danger">
            <img src="./assets/img/burgerbite.png" id="bite" alt="bitten hamburger clipart">
            <b> VIRTUALLY DEVOURED!</b>
          </div> 
          <div class="card-body">
            <ul>
              {{#each burgers}}
              {{#unless wholeburger}}
              {{> burgers/newburger-block withbites=true}}
              {{/unless}}
              {{/each}}
            </ul> 
          </div>  
        </div> 
      </div>

    </div> 
      
    <footer> 
      <div class="row text-center text-white">
        <div class="col">
          &copy; Eat-Da-Burger 2021
        </div>  
      </div>
    </footer> 
</div>   
    